<div id="title-header">
  <a href="https://creatinginterfaces.eifer.kit.edu" class="site-logo ui-link">
    <img src="{{rt}}/images/logo_project.png" alt="Creating Interfaces">
  </a>
  <a href="http://www.pzr.org.pl/" class="partner-logo ui-link" rel="external" target="_blank">
    <img src="{{rt}}/images/logo_pzr.png" alt="PZR">
  </a>
  <a href="https://www.umk.pl/" class="partner-logo ui-link" rel="external" target="_blank">
    <img src="{{rt}}/images/logo_torun.png" alt="Torun University">
  </a>
</div>
