<div id="welcome">
  <div class="modal-content ui-corner-all">
    <div data-role="header">
      <a href="#" class="welcome-close ui-btn ui-btn-right ui-btn-corner-all ui-icon-delete ui-btn-icon-notext ui-shadow">Icon only</a>
      <h1>Welcome!</h1>
    </div>
    <div class="ui-content">
      <h4>Eat locally and healthily! Welcome to the food system in Słupsk!</h4>
      <p>
        We all love food. We make sure our children eat healthily. We are paying more and more attention to what we eat and what we buy. What we eat affects not only us,
        but also the environment and our immediate surroundings. With this application, we will try to provide you with information about food in Słupsk. Moreover, by answering some questions in this application you can help us to better understand the food nexus. Using the map you can:  
      </p>
      <ul>
        <li>check what children eat in kindergartens in Słupsk, rate the meals and see how other people rate them, find out where the products for the meals come from,</li>
        <li>get to know local food shops and their products,</li>
        <li>get to know local producers and their products,</li>
        <li>share what you eat and where you buy food with others,</li>
        <li>help in understanding the environmental impact of what you eat and what children eat in kindergartens.</li>
      </ul>
      <p>
        For more detailed explanation on how to use the application, please check the different topics presented in the navigation at the top of the page. <br>
        The application was developed in cooperation with the Słupsk City and on the basis of the collected data on the food needs of the inhabitants of Słupsk.
        We are currently testing the first version of the application. Share with us your opinion about it by clicking on the feedback link at the bottom of this page! <br>
        If you got login data by the project team, you can also find a login link at the bottom of this page to use additional features of the application.
      </p>
      <a class="welcome-close "data-role="button">Explore!</a>
    </div>
  </div>
</div>
