.site-logo img {
    vertical-align: middle;
    height: 90px;
    margin: 5px;
}

.partner-logo img {
    vertical-align: middle;
    height: 90px;
    margin: 5px;
    float: right;
    display: none;
}

.ui-header .ui-title {
	margin: 0 20%;
}

.ui-block-a h1 {
  color: #333333;
  font-weight: 300;
  font-size: 35;
  font-style: normal;
}

.map.detail-map {
    height: 700px;
}

.instruction {
  width: 94%;
  position: absolute;
  z-index: 500;
  top: 80px;
  left: 3%;
}
