<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Citizen</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Citizen</h1>
      </div>
      {{>navbar}}
      <div role="main" class="ui-content justified">
        <h4>Podziel się jedzeniem!</h4>
        <p>
          What can you find out? What can you do? <br> <br>

          You want to share what you're cooking with others? By using the following button you can share your recipe idea and let others know where to buy the best products in the area.
          <a href="{{rt}}/privatedishs/new" data-role="button" data-icon="plus">Add private dish</a> <br>

          Use the button to check recipes from others.
          <a href="{{rt}}/privatedishs/" data-role="button" data-icon="bars">Show private dishes</a>
        </p>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
