<!DOCTYPE html>

<!--
To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Legal Notice</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div id="title-header">
        <a href="https://creatinginterfaces.eifer.kit.edu" class="site-logo ui-link">
          <img src="/images/logo_project.png" alt="Creating Interfaces">
        </a>
        <a href="http://www.pzr.org.pl/" class="partner-logo ui-link" rel="external" target="_blank">
          <img src="/images/logo_pzr.png" alt="PZR">
        </a>
        <a href="https://www.umk.pl/" class="partner-logo ui-link" rel="external" target="_blank">
          <img src="/images/logo_torun.png" alt="Torun University">
        </a>
      </div>
      <div data-role="header">
        {{>home}}
        <h1>Guide</h1>
      </div>
      <div role="main" class="ui-content justified">
        <p>
          This web application has the primary goal to involve citizens in the collection of data about food in and around Słupsk. Secondary, it also serves citizens as information platform.
          Here, you can find a general overview of this application. There are several forms for submitting data which are listed below. Moreover, you can find buttons to data which were already submitted by the project team or fellow citizens.
          For a step by step guide, please go to the home page and follow the instructions on the map.
        </p>
        <h2>Data submission forms</h2>
        <ul data-role="listview" data-inset="true">
          {{#page_config.can_add}}
          <li>
            <a href="{{rt}}/kindergartendishs/new" data-role="button" data-icon="plus">Add kindergarten dish</a>
          </li>
          {{/page_config.can_add}}
          <li>
            <a href="{{rt}}/dishratings/new" data-role="button" data-icon="plus">Rate kindergarten dish</a>
          </li>
          <li>
            <a href="{{rt}}/producers/new" data-role="button" data-icon="plus">Add producer</a>
          </li>
          {{#page_config.can_add}}
          <li>
            <a href="{{rt}}/producerinfos/new" data-role="button" data-icon="plus">Add product info</a>
          </li>
          {{/page_config.can_add}}
          <li>
            <a href="{{rt}}/privatedishs/new" data-role="button" data-icon="plus">Add private dish</a>
          </li>
        </ul>
        <h2>Submitted data</h2>
        <ul data-role="listview" data-inset="true">
          <li>
            <a href="{{rt}}/kindergartens" data-role="button" data-icon="bars">All kindergartens</a>
          </li>
          <li>
            <a href="{{rt}}/kindergartendishs" data-role="button" data-icon="bars">All kindergarten dishes</a>
          </li>
          <li>
            <a href="{{rt}}/dishratings" data-role="button" data-icon="bars">All kindergarten dish ratings</a>
          </li>
          <li>
            <a href="{{rt}}/shops" data-role="button" data-icon="bars">All shops</a>
          </li>
          <li>
            <a href="{{rt}}/producers" data-role="button" data-icon="bars">All producers</a>
          </li>
          <li>
            <a href="{{rt}}/producerinfos" data-role="button" data-icon="bars">All product infos</a>
          </li>
          <li>
            <a href="{{rt}}/privatedishs" data-role="button" data-icon="bars">All private dishes</a>
          </li>
        </ul>
        <h2>Additional features</h2>
        <p>
          If you are a local producer and would like to add information about your products, please contact the project team (add e-mail) to get account information.
          After receiving these information, you can log in and an additional link will appear in the above list that will lead you to the submission form.
        </p>
        <ul data-role="listview" data-inset="true">
          <li>
            <a href="{{rt}}/login" data-role="button" data-icon="user">Log in</a>
          </li>
        </ul>
      </div>
      <div data-role="footer">
        <div data-role="navbar" class="ui-navbar" role="navigation">
          <ul class="ui-grid-c">
            <li class="ui-block-a"><a href="{{rt}}/about" data-icon="info" class="ui-link ui-btn ui-icon-info ui-btn-icon-top">About</a></li>
            <li class="ui-block-b"><a href="{{rt}}/legal-notice" data-icon="info" class="ui-link ui-btn ui-icon-info ui-btn-icon-top">Legal Notice</a></li>
            <li class="ui-block-c"><a href="{{rt}}/privacy-statement" data-icon="eye" class="ui-link ui-btn ui-icon-eye ui-btn-icon-top">Privacy Statement</a></li>
            <li class="ui-block-d"><a href="{{rt}}/guide" data-icon="bullets" class="ui-link ui-btn ui-icon-bullets ui-btn-icon-top">Guide</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
