<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!

To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Slupsk Tool</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div id="title-header">
        <a href="https://creatinginterfaces.eifer.kit.edu" class="site-logo ui-link">
          <img src="/images/logo_project.png" alt="Creating Interfaces">
        </a>
        <a href="https://www.eifer.kit.edu/" class="partner-logo ui-link" rel="external" target="_blank">
          <img src="/images/logo_eifer.png" alt="Eifer">
        </a>
        <a href="https://www.umk.pl/" class="partner-logo ui-link" rel="external" target="_blank">
          <img src="/images/logo_torun.png" alt="Torun University">
        </a>
      </div>
      <div data-role="header">
        <h1>Citizens Reporting on Food, Water and Energy in Slupsk</h1>
      </div>
      <div role="main" class="ui-content">
        <p>Where does my food come from? Here you can find information about menus in kindergartens and propose new dishes yourself!</p>
        <div class="map detail-map" id="index-map"></div>
        <ul data-role="listview" data-inset="true">
          <li data-icon="plus">
            <a href="{{rt}}/dishes/new">Add dish</a>
          </li>
          {{#is_authenticated}}
          <li data-icon="plus">
            <a href="{{rt}}/ingredients/new">Add ingredient</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/institutions/new">Add institution</a>
          </li>
          {{/is_authenticated}}
          <li data-icon="plus">
            <a href="{{rt}}/producers/new">Add producer</a>
          </li>
        </ul>
        <ul data-role="listview" data-inset="true">
          <li data-icon="bullets">
            <a href="{{rt}}/dishes/">View dishes</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/ingredients/">View ingredients</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/institutions/">View institutions</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/producers/">View producers</a>
          </li>
        </ul>
        <ul data-role="listview" data-inset="true">
          <li data-icon="user">
            <a href="{{rt}}/login">Login</a>
          </li>
          <li data-icon="user">
            <a href="{{rt}}/logout">Logout</a>
          </li>
          {{#is_authenticated}}
          <li data-icon="user">
            <a href="{{rt}}/admin/">Admin</a>
          </li>
          {{/is_authenticated}}
        </ul>
      </div>
      <p class="footer">
        SlupskTool v{{version}}
        &bull;
        Powered by <a href="https://wq.io/">wq</a>
      </p>
    </div>
  </body>
</html>
