<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!

To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>SlupskTool</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>Creating Interfaces - Slupsk</h1>
      </div>
      <div role="main" class="ui-content">
        <p>Where does my food come from? Here you can find information about menus in kindergardens and propose new dishes yourself!</p>
        <ul data-role="listview" data-inset="true">
          <li data-icon="plus">
            <a href="{{rt}}/dishes/new">Add dish</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/ingredients/new">Add ingredient</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/institutions/new">Add institution</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/producers/new">Add producer</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/login">Login</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/logout">Logout</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/admin/">Admin</a>
          </li>
        </ul>
        <div class="map detail-map" id="index-map"></div>
      </div>
      <p class="footer">
        SlupskTool v{{version}}
        &bull;
        Powered by <a href="https://wq.io/">wq</a>
      </p>
    </div>
  </body>
</html>
