<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!

To make your application work offline using the old "application cache" standard,
uncomment the manifest attribute below.  This is disabled by default because it
isn't always needed and it makes debugging more tricky.
See https://github.com/wq/wq.app/issues/63
-->
<html><!-- manifest="SlupskTool.appcache" -->
  <head>
    <title>Slupsk Tool</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div id="title-header">
        <a href="https://creatinginterfaces.eifer.kit.edu" class="site-logo ui-link">
          <img src="/images/logo_project.png" alt="Creating Interfaces">
        </a>
        <a href="https://www.eifer.kit.edu/" class="partner-logo ui-link" rel="external" target="_blank">
          <img src="/images/logo_eifer.png" alt="Eifer">
        </a>
        <a href="https://www.umk.pl/" class="partner-logo ui-link" rel="external" target="_blank">
          <img src="/images/logo_torun.png" alt="Torun University">
        </a>
      </div>
      <div data-role="header">
        <h1>Creating Interfaces - Slupsk</h1>
      </div>
      <div role="main" class="ui-content">
        <div class="map detail-map" id="index-map">
          <div data-role="collapsible" class = "instruction" id="instruction1" data-collapsed="false" style="visibility: visible;">
            <h4>Where does my food come from?</h4>
            <div style="overflow: auto;">
            <p>
              What do my children eat? Where does the food come from and what distance did the ingredients cover? How much water and energy was used for production and transport? <br><br> By giving us insights into your favorite dishes you can help us in answering these questions!
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-r ui-btn-inline ui-btn-icon-notext ui-corner-all"  data-wq-action="instruction-forward" style="float: right;">No text</a>
            </div>
          </div>
          <div data-role="collapsible" class = "instruction" id="instruction2" data-collapsed="false" style="visibility: hidden;">
            <h4>Where does my food come from?</h4>
            <div style="overflow: auto;">
            <p>
              You are working at a kindergarten and want to share the kindergarten menu? You are a parent and want to share your favorite dishes at home?
              Click the below link to tell us about a dish! <br> <br>
              <a href="{{rt}}/dishes/new">Add dish</a> <br> <br>
              You want to learn about dishes from kindergartens or your neighbors? Click the link below! <br> <br>
              <a href="{{rt}}/dishes/">View dishes</a> <br>
              <a href="{{rt}}/kindergartendishs/new">Add kindergarten dish</a> <br>
              <a href="{{rt}}/kindergartendishs/">View kindergarten dishes</a> <br>
              <a href="{{rt}}/dishratings/new">Add dish rating</a> <br>
              <a href="{{rt}}/dishratings/">View dish ratings</a> <br>
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-l ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-backward" style="float: left;">No text</a>
            <a href="#" class="ui-btn ui-icon-arrow-r ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-forward" style="float: right;">No text</a>
            </div>
          </div>
          <div data-role="collapsible" class = "instruction" id="instruction3" data-collapsed="false" style="visibility: hidden;">
            <h4>Where does my food come from?</h4>
            <div style="overflow: auto;">
            <p>
              You cannot find a prodcuer or an ingredient in the list? Click the link below to add a new producer or ingredient! <br> <br>
              <a href="{{rt}}/producers/new">Add producer</a> <br> <br>
              <a href="{{rt}}/ingredients/new">Add ingredient</a>
            </p>
            <a href="#" class="ui-btn ui-icon-arrow-l ui-btn-inline ui-btn-icon-notext ui-corner-all" data-wq-action="instruction-backward" style="float: left;">No text</a>
            </div>
          </div>
        </div>
        <!-- <ul data-role="listview" data-inset="true">
          <li data-icon="plus">
            <a href="{{rt}}/dishes/new">Add dish</a>
          </li>
          {{#is_authenticated}}
          <li data-icon="plus">
            <a href="{{rt}}/ingredients/new">Add ingredient</a>
          </li>
          <li data-icon="plus">
            <a href="{{rt}}/institutions/new">Add institution</a>
          </li>
          {{/is_authenticated}}
          <li data-icon="plus">
            <a href="{{rt}}/producers/new">Add producer</a>
          </li>
        </ul>
        <ul data-role="listview" data-inset="true">
          <li data-icon="bullets">
            <a href="{{rt}}/dishes/">View dishes</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/ingredients/">View ingredients</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/institutions/">View institutions</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/producers/">View producers</a>
          </li>
        </ul>
        <ul data-role="listview" data-inset="true">
          <li data-icon="user">
            <a href="{{rt}}/login">Login</a>
          </li>
          {{#is_authenticated}}
          <li data-icon="user">
            <a href="{{rt}}/logout">Logout</a>
          </li>
          <li data-icon="user">
            <a href="{{rt}}/admin/">Admin</a>
          </li>
          {{/is_authenticated}}
        </ul> -->
      </div>
      <!-- <p class="footer">
        SlupskTool v{{version}}
        &bull;
        Powered by <a href="https://wq.io/">wq</a>
      </p> -->
    </div>
  </body>
</html>
