<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/kindergartendishs/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>Kindergarten</th>
              <td>{{{kindergarten_label}}}</td>
            </tr>
            <tr>
              <th>Choose the particular date</th>
              <td>{{date}}</td>
            </tr>
            <tr>
              <th>Enter the name of the dish</th>
              <td>{{{name}}}</td>
            </tr>
            <tr>
              <th>Type of meal</th>
              <td>{{{type_label}}}</td>
            </tr>
            <tr>
              <th>Food waste – how much of the dish you have to dump into the garbage?</th>
              <td>{{{waste_label}}}</td>
            </tr>
            <tr>
              <th>Composition</th>
              <td>
                {{#compositions}}
                <table>
                  <tr>
                    <th>Choose an ingredient from the list</th>
                    <td>{{{ingredient_label}}}</td>
                  </tr>
                  <tr>
                    <th>Enter the weight of the ingredient (grams)</th>
                    <td>{{weight_grams}}</td>
                  </tr>
                  <tr>
                    <th>Enter the number of calories of the ingredient</th>
                    <td>{{calories}}</td>
                  </tr>
                  <tr>
                    <th>Was the ingredient bought directly from the producer?</th>
                    <td>{{{from_producer_label}}}</td>
                  </tr>
                </table>
                <hr>
                {{/compositions}}
              </td>
            </tr>
          </table>
          <h3>Picture of the dish</h3>
          <img src="{{picture}}" alt="Picture of the dish - {{label}}" style="max-width:100%">
          {{^can_add_kindergarten_dish}}
          <div style="padding-top: 50px">
            <a href="{{rt}}/kindergartendishs/" data-role="button" data-icon="bars" data-direction="reverse">
              Show all kindergarten dishes
            </a>
          </div>
          {{/can_add_kindergarten_dish}}
          {{#can_add_kindergarten_dish}}
          <div class="ui-grid-a" style="padding-top: 50px">
            <div class="ui-block-a">
              <a href="{{rt}}/kindergartendishs/" data-role="button" data-icon="bars" data-direction="reverse">
                Show all kindergarten dishes
              </a>
            </div>
            <div class="ui-block-b">
              <a href="{{rt}}/kindergartendishs/new" data-role="button" data-icon="plus">
                Add kindergarten dish
              </a>
            </div>
          </div>
          {{/can_add_kindergarten_dish}}
      </div>
      {{>footer}}
    </div>
  </body>
</html>
