<!DOCTYPE html>
<html>
  <head>
    <title>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} kindergarten dish</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{^id}}Add{{/id}}{{#id}}Edit{{/id}} kindergarten dish</h1>
        {{#id}}
        {{#page_config.can_delete}}
        <form action="{{svc}}/kindergartendishs/{{id}}" method="post" data-ajax="false"
          data-wq-json="true" data-wq-background-sync="false"
          onsubmit="return require('wq/app').confirmSubmit(this, 'Are you sure you want to delete this record?');">
          {{>csrf}}
          <input type=hidden name="_method" value="DELETE">
          <button type="submit" data-icon="delete" class="ui-btn-right">
            Delete
          </button>
        </form>
        {{/page_config.can_delete}}
        {{/id}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
        <form action="{{svc}}/kindergartendishs/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve=""
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">1) Kindergarten</li>
            <li class="ui-field-contain">
              <label for='kindergartendish-kindergarten_id'>Kindergarten <span style="color: red;">*</span></label>
              <select id='kindergartendish-kindergarten_id' data-xform-type='string' name='kindergarten_id'>
                <option value="">Select one...</option>
                {{#kindergarten_list}}
                <option value="{{id}}"{{#selected}} selected{{/selected}}>
                 {{#outbox}}*{{/outbox}} {{{label}}}
                </option>
                {{/kindergarten_list}}
              </select>
              <p class='error kindergartendish-kindergarten_id-errors'></p>
            </li>
            <li class="ui-field-contain">
              <label for='kindergartendish-date'>Choose the particular date <span style="color: red;">*</span></label>
              <input id='kindergartendish-date' type='date' data-xform-type='date' name='date' value="{{date}}">
              <p class='error kindergartendish-date-errors'></p>
            </li>
            <li data-role="list-divider">2) Dish</li>
            <li class="ui-field-contain">
              <label for='kindergartendish-name'>Enter the name of the dish <span style="color: red;">*</span></label>
              <input id='kindergartendish-name' type='text' data-xform-type='string' name='name' value="{{name}}">
              <p class='error kindergartendish-name-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='vertical'>
                <legend>Type of meal</legend>
                {{#type_choices}}
                <input type='radio' id='kindergartendish-type-{{name}}' name='type' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='kindergartendish-type-{{name}}'>{{{label}}}</label>
                {{/type_choices}}
              </fieldset>
              <p class='error kindergartendish-type-errors'></p>
            </li>
            <li class="ui-field-contain">
              <fieldset data-xform-type='select one' data-role='controlgroup' data-type='vertical'>
                <legend>Food waste – how much of the dish you have to dump into the garbage?</legend>
                {{#waste_choices}}
                <input type='radio' id='kindergartendish-waste-{{name}}' name='waste' value='{{name}}'{{#selected}} checked{{/selected}}>
                <label for='kindergartendish-waste-{{name}}'>{{{label}}}</label>
                {{/waste_choices}}
              </fieldset>
              <p class='error kindergartendish-waste-errors'></p>
            </li>
            {{^picture.name}}
            <li class="ui-field-contain">
              {{#picture}}
              <img src="{{picture}}"
                   id="kindergartendish-picture-preview">
              {{/picture}}
              {{^picture}}
              <img src="{{rt}}/images/empty.png"
                   id="kindergartendish-picture-preview">
              {{/picture}}
              <label for="kindergartendish-picture">Picture of the dish</label>
              {{#native}}
              <input type="hidden" name="picture" id="kindergartendish-picture"
                     data-wq-type="file" data-wq-preview="kindergartendish-picture-preview">
              <div>
                <button type="button" data-inline="true" data-icon="camera" data-mini="true"
                   data-wq-action="take" data-wq-input="kindergartendish-picture">
                   Camera
                </button>
                <button type="button" data-inline="true" data-icon="grid" data-mini="true"
                   data-wq-action="pick" data-wq-input="kindergartendish-picture">
                   Gallery
                </button>
              </div>
              {{/native}}
              {{^native}}
              <input type="file" name="picture" id="kindergartendish-picture" accept='image/*'
                     data-wq-preview="kindergartendish-picture-preview">
              {{/native}}
              <p class="error kindergartendish-picture-errors"></p>
            </li>
            {{/picture.name}}
            {{#picture.name}}
            {{#picture}}
            <li class="ui-field-contain">
              <img src="{{image_url}}">
              <label for="kindergartendish-picture">Picture of the dish</label>
              <input type="text" id="kindergartendish-picture" disabled
                  value="{{name}} ({{type}}, {{body.size}} bytes)">
              <p class="error kindergartendish-picture-errors"></p>
            </li>
            {{/picture}}
            {{/picture.name}}
            <li data-role="list-divider">3) Composition</li>
            <li data-xform-type='note'>
              <p class="label">Please give detailed information about some of the ingredients if they are included in the choices below.</p>
            </li>
            {{#compositions}}
            {{^new_attachment}}{{#id}}
            <input type="hidden" name="compositions[{{@index}}][id]" value="{{id}}">
            {{/id}}{{/new_attachment}}
            <li class="ui-field-contain">
            <div data-role="collapsible" class="section-compositions" data-collapsed="false">
              <h4>Ingredient {{@index}}</h4>
              <ul data-role="listview" data-inset="true">
                <li class="ui-field-contain">
                  <label for='kindergartendish-compositions-{{@index}}-ingredient_id'>Choose an ingredient from the list</label>
                  <select id='kindergartendish-compositions-{{@index}}-ingredient_id' data-xform-type='string' name='compositions[{{@index}}][ingredient_id]'>
                    <option value="">Select one...</option>
                    {{#ingredient_list}}
                    <option value="{{id}}"{{#selected}} selected{{/selected}}>
                     {{#outbox}}*{{/outbox}} {{{label}}}
                    </option>
                    {{/ingredient_list}}
                  </select>
                  <p class='error kindergartendish-compositions-{{@index}}-ingredient_id-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='kindergartendish-compositions-{{@index}}-weight_grams'>Enter the weight of the ingredient (grams)</label>
                  <input id='kindergartendish-compositions-{{@index}}-weight_grams' type='number' data-xform-type='decimal' name='compositions[{{@index}}][weight_grams]' step='0.001' value="{{weight_grams}}">
                  <p class="hint">Per portion.</p>
                  <p class='error kindergartendish-compositions-{{@index}}-weight_grams-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <label for='kindergartendish-compositions-{{@index}}-calories'>Enter the number of calories of the ingredient</label>
                  <input id='kindergartendish-compositions-{{@index}}-calories' type='number' data-xform-type='decimal' name='compositions[{{@index}}][calories]' step='0.001' value="{{calories}}">
                  <p class="hint">Per portion.</p>
                  <p class='error kindergartendish-compositions-{{@index}}-calories-errors'></p>
                </li>
                <li class="ui-field-contain">
                  <fieldset data-xform-type='select one' data-role='controlgroup' data-type='vertical'>
                    <legend>Was the ingredient bought directly from the producer?</legend>
                    {{#from_producer_choices}}
                    <input type='radio' id='kindergartendish-compositions-{{@index}}-from_producer-{{name}}' name='compositions[{{@index}}][from_producer]' value='{{name}}'{{#selected}} checked{{/selected}}>
                    <label for='kindergartendish-compositions-{{@index}}-from_producer-{{name}}'>{{{label}}}</label>
                    {{/from_producer_choices}}
                  </fieldset>
                  <p class='error kindergartendish-compositions-{{@index}}-from_producer-errors'></p>
                </li>
                <li>
                    <button type="button" data-wq-action="removeattachment" data-wq-section="compositions">
                      Delete ingredient
                    </button>
                </li>
              </ul>
            </div>
            </li>
            {{/compositions}}
            <li>
              <button type="button" data-wq-action="addattachment" data-wq-section="compositions">
                 Add ingredient
              </button>
            </li>
            <li>
              <p style="color: red;">*required field</p>
            </li>
            <li>
              <div class="ui-grid-b">
                <div class="ui-block-a">
                  <a href="{{rt}}/" data-role="button" data-icon="back" data-direction="reverse">
                    Home
                  </a>
                </div>
                <div class="ui-block-b">
                  <a href="{{rt}}/kindergartendishs/" data-role="button" data-icon="back" data-direction="reverse">
                    Show submissions
                  </a>
                </div>
                <div class="ui-block-c">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error kindergartendish-errors"></p>
            </li>
          </ul>
        </form>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
