<h3>{{{label}}}</h3>
<p>
  <a href="{{rt}}/kindergartens/{{id}}">This kindergarten</a>
</p>
<p>
  <a href="{{rt}}/kindergartens/">All kindergartens</a>
</p>
<p>
  <a href="{{rt}}/kindergartendishs/" data-wq-action="preselect" class="kindergarten">Kindergarten dishes</a>
</p>
{{#can_add_kindergarten_dish}}
<p>
  <a href="{{rt}}/kindergartendishs/new" data-wq-action="preselect" class="kindergarten">Add kindergarten dish</a>
</p>
{{/can_add_kindergarten_dish}}
<p>
  <a href="{{rt}}/dishratings/" data-wq-action="preselect" class="kindergarten">Kindergarten dish ratings</a>
</p>
<p>
  <a href="{{rt}}/dishratings/new" data-wq-action="preselect" class="kindergarten">Rate kindergarten dish</a>
</p>
