<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/kindergartendishs/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      <div role="main" class="ui-content">
          <h1>{{label}}</h1>
          <table>
            <tr>
              <th>Kindergarten</th>
              <td>{{kindergarten_label}}</td>
            </tr>
            <tr>
              <th>Choose the particular date</th>
              <td>{{date}}</td>
            </tr>
            <tr>
              <th>Enter the name of the dish</th>
              <td>{{name}}</td>
            </tr>
            <tr>
              <th>Ingredients</th>
              <td>{{ingredient_list}}</td>
            </tr>
            <tr>
              <th>Composition</th>
              <td>
                {{#compositions}}
                <table>
                  <tr>
                    <th>Choose an ingredient from the list</th>
                    <td>{{ingredient_label}}</td>
                  </tr>
                  <tr>
                    <th>Enter the quantity of the ingredient (pieces)</th>
                    <td>{{quantity_pieces}}</td>
                  </tr>
                  <tr>
                    <th>Enter the weight of the ingredient (grams)</th>
                    <td>{{weight_grams}}</td>
                  </tr>
                  <tr>
                    <th>Enter the number of calories per ingredient in the dish (calories)</th>
                    <td>{{calories}}</td>
                  </tr>
                  <tr>
                    <th>Was the ingredient bought directly from the producer?</th>
                    <td>{{from_producer_label}}</td>
                  </tr>
                  <tr>
                    <th>Food waste – how many of the dish you have to dump into the garbage?</th>
                    <td>{{waste_label}}</td>
                  </tr>
                </table>
                <hr>
                {{/compositions}}
              </td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>
