<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/privatedishs/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>Enter the name of the dish</th>
              <td>{{{name}}}</td>
            </tr>
            <tr>
              <th>Did you buy at least one ingredient from a local producer?</th>
              <td>{{{from_producer_label}}}</td>
            </tr>
            <tr>
              <th>Producers</th>
              <td>
                {{#localproducers}}
                <table>
                  <tr>
                    <th>Producer</th>
                    <td>
                      {{#producer_label}}{{{producer_label}}}{{/producer_label}}
                      {{^producer_label}}Other{{/producer_label}}
                    </td>
                  </tr>
                </table>
                <hr>
                {{/localproducers}}
              </td>
            </tr>
          </table>
          <h3>Picture of the dish</h3>
          <img src="{{picture}}" alt="Picture of the dish - {{label}}" style="max-width:100%">
          <div class="ui-grid-a" style="padding-top: 50px">
            <div class="ui-block-a">
              <a href="{{rt}}/privatedishs/" data-role="button" data-icon="bars" data-direction="reverse">
                Show all private dishes
              </a>
            </div>
            <div class="ui-block-b">
              <a href="{{rt}}/privatedishs/new" data-role="button" data-icon="plus">
                Add private dish
              </a>
            </div>
          </div>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
