<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/privatedishs/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      <div role="main" class="ui-content">
        <div class="ui-grid-a ui-responsive">
        <div class="ui-block-a">
          <h1>{{label}}</h1>
          <table>
            <tr>
              <th>Enter the name of the dish</th>
              <td>{{name}}</td>
            </tr>
            <tr>
              <th>Ingredients</th>
              <td>
                {{#compositions}}
                <table>
                  <tr>
                    <th>Ingredient</th>
                    <td>{{ingredient_label}}</td>
                  </tr>
                  <tr>
                    <th>Where was it bought?</th>
                    <td>{{producer_label}}</td>
                  </tr>
                  <tr>
                    <th>Enter the place of origin</th>
                    <td>{{origin_label}}</td>
                  </tr>
                  <tr>
                    <th>Enter the mode of production</th>
                    <td>{{production_mode_label}}</td>
                  </tr>
                  <tr>
                    <th>Enter the price</th>
                    <td>{{price}}</td>
                  </tr>
                  <tr>
                    <th>Was the ingredient bought directly from the producer?</th>
                    <td>{{from_producer_label}}</td>
                  </tr>
                  <tr>
                    <th>Enter the distance (km) from the shop to your house.</th>
                    <td>{{distance}}</td>
                  </tr>
                </table>
                <hr>
                {{/compositions}}
              </td>
            </tr>
            <tr>
              <th>Did you like it?</th>
              <td>{{satisfaction_label}}</td>
            </tr>
            <tr>
              <th>Do you think it is healthy?</th>
              <td>{{health_label}}</td>
            </tr>
            <tr>
              <th>Do you think it is a high quality product?</th>
              <td>{{quality_label}}</td>
            </tr>
          </table>
        </div>
        <div class="ui-block-b">
          <div class="map detail-map" id="privatedish-{{id}}-map"></div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
