<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/producers/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/page_config.can_change}}
      </div>
      <div role="main" class="ui-content">
        <div class="ui-grid-a ui-responsive">
        <div class="ui-block-a">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>Name</th>
              <td>{{{name}}}</td>
            </tr>
            <tr>
              <th>Adress</th>
              <td>{{{adress}}}</td>
            </tr>
            <tr>
              <th>Location Mode</th>
              <td>{{toggle_label}}</td>
            </tr>
            <tr>
              <th>Latitude</th>
              <td>{{latitude}}</td>
            </tr>
            <tr>
              <th>Longitude</th>
              <td>{{longitude}}</td>
            </tr>
            <tr>
              <th>GPS Accuracy</th>
              <td>{{accuracy}}</td>
            </tr>
            <tr>
              <th>Products</th>
              <td>
                {{#deliverys}}
                <table>
                  <tr>
                    <th>Product delivered</th>
                    <td>{{{product_label}}}</td>
                  </tr>
                  <tr>
                    <th>Shop delivered</th>
                    <td>{{{shop_label}}}</td>
                  </tr>
                  <tr>
                    <th>Quantity (kg)</th>
                    <td>{{{quantity}}}</td>
                  </tr>
                  <tr>
                    <th>Frequency</th>
                    <td>{{{frequency}}}</td>
                  </tr>
                  <tr>
                    <th>Price per item/kg (PLN)</th>
                    <td>{{{price}}}</td>
                  </tr>
                  <tr>
                    <th>Mode of production</th>
                    <td>{{{production_mode_label}}}</td>
                  </tr>
                  <tr>
                    <th>Distance to shop</th>
                    <td>{{{distance_to_shop}}}</td>
                  </tr>
                  <tr>
                    <th>Was it biodegradable?</th>
                    <td>{{{biodegradable_product_label}}}</td>
                  </tr>
                  <tr>
                    <th>Was it in recycling packages?</th>
                    <td>{{{recyclable_product_package_label}}}</td>
                  </tr>
                </table>
                <hr>
                {{/deliverys}}
              </td>
            </tr>
          </table>
        </div>
        <div class="ui-block-b">
          <div class="map detail-map" id="producer-{{id}}-map"></div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
