<!DOCTYPE html>
<html>
  <head>
    <title>{{{label}}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        {{>home}}
        <h1>{{{label}}}</h1>
        {{#page_config.can_change}}
        <a href="{{rt}}/shops/{{id}}/edit" data-icon="edit" data-transition="flip">
          {{{i18n_edit}}}
        </a>
        {{/page_config.can_change}}
      </div>
      {{>navbar}}
      <div role="main" class="ui-content">
        <div class="ui-grid-a ui-responsive">
        <div class="ui-block-a">
          <h1>{{{label}}}</h1>
          <table>
            <tr>
              <th>{{{i18n_name}}}</th>
              <td>{{{name}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_type}}}</th>
              <td>{{{type}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_main_products}}}</th>
              <td>{{{product}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_buy_from_kindergarten}}}</th>
              <td>{{{kindergarten_supplier_label}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_address}}}</th>
              <td>{{{address}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_telephone}}}</th>
              <td>{{{phone}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_email}}}</th>
              <td>{{{email}}}</td>
            </tr>
            <tr>
              <th>{{{i18n_website}}}</th>
              <td>{{{website}}}</td>
            </tr>
          </table>
          <div style="padding-top: 50px">
            <a href="{{rt}}/shops/" data-role="button" data-icon="bars" data-direction="reverse">
              {{{i18n_show_shops}}}
            </a>
          </div>
        </div>
        <div class="ui-block-b">
          <div class="map detail-map" id="shop-{{id}}-map"></div>
        </div>
        </div>
      </div>
      {{>footer}}
    </div>
  </body>
</html>
